<a href="https://colab.research.google.com/github/Pasioncpe/CPE009A/blob/main/ARRAY_%26_LOOP_STATEMENTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FOR LOOP

In [ ]:
#example 1

week =["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Thursday

In [ ]:
#example 2
week =["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
#example 3
week =["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [ ]:
#example 4
for x in "week":
  print(x)

w
e
e
k

RANGE FUNCTION

In [ ]:
#example 1
for x in range(6):
  print(x)

print("\n")
for x in range(2,6):
  print(x)

#example 1.2
print("\n")
for x in range(2,6,2):
  print(x)

0
1
2
3
4
5


2
3
4
5


2
4

NESTED LOOPS

In [ ]:
#example 1
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

WHILE LOOP

In [ ]:
#example 1
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

BREAK STAEMENT

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

CONTINUE STATEMENT

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

ELSE

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

LET'S TRY (CHALLENGE)

In [62]:
#plus 5
for x in range (0,11):
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [61]:
#plus 5
i = 0
while i < 100:
  i+=1
  if i < 10 and i >= 3:
    print(i)
  continue

3
4
5
6
7
8
9