1. If statement

In [4]:
a = 12
b = 100

if b > a:
    print("b is greater than a")

b is greater than a

2. Elif Statement

In [9]:
a = 12
b = 12
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

3. Else Statement

In [10]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

4. Short Hand If Statement

In [11]:
if a > b: print("a is greater than b")

a is greater than b

5. Short Hand If..Else Statement

In [16]:
a = 2
b = 330

print("A") if a > b else print("B")

B

6. And-both conditions are true

In [15]:
a = 200
b = 33
c = 500

if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

7. Or-at least one of the conditions is true

In [14]:
a = 200
b = 33
c = 500

if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

8. Nested If

In [29]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20")
    if x > 30:
      print("and also above 30")
      if x > 40:
        print("and also above 40")
        if x > 50:
          print("and also above 50")
        else:
          print("but below 50")
else:
  print("below 10")


# +5 points

Above ten,
and also above 20
and also above 30
and also above 40
but below 50

Example 3

In [46]:
grade = float(input("Enter your grade: "))

if grade < 0: print("Invalid Input")
elif grade >= 75: print("Passed")
elif grade == 74: print("Remedial")
elif grade < 74: print("Failed")

# +5 Points

Enter your grade: 0
Failed