<a href="https://colab.research.google.com/github/Pasioncpe/CPE009A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [3]:
if 5>2:
  print("Five is greater than 2")

Five is greater than 2

Python Comments

In [6]:
#This is a comment!
print("Hello, world")

Hello, world

Python Variable

In [7]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

b = "Sally" #This is a type of string

print(b)

Sally

Casting

In [8]:
b = "sally" #This is a type of string
b = int(4)
print (b)

b = float(4)
print(b)

4
4.0

Type() Function

In [10]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'Single' Quotes

In [11]:
y = "John"
print(y)

y = 'John'
print(y)

John
John

Case Sensitive

In [12]:
a = 4
A = "Sally"

#A will not overwrite a

print(a)
print(A)

4
Sally

Multiple Variables

In [14]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [15]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [19]:
x = "enjoying"
print("Python programming is " + x)

#Other way:

x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [28]:
x = 5
y = 3

#Addition
print(x+y)

#Substraction
print(x-y)

#Multiplication
print(x*y)

#Division
print(x/y)

#Modulus
print(x%y)

#Exponentiation
print(x**y)

#Floor Derivative
print(x//y)

8
2
15
1.6666666666666667
2
125
1

Assignment Operators

In [33]:
# =
s = 1
print(s)
# +=
s = 1
s += 3
print(s)
# -=
s = 1
s -= 3
print(s)
# *=
s = 1
s *= 3
print(s)
# /=
s = 1
s /= 3
print(s)
# %=
s = 1
s %= 3
print(s)
# //=
s = 1
s //= 3
print(s)
# **=
s = 1
s **= 3
print(s)
# &=
s = 1
s &= 3
print(s)
# |=
s = 1
s |= 3
print(s)
# ^=
s = 1
s ^= 3
print(s)
# >>=
s = 1
s >>= 3
print(s)
# <<=
s = 1
s <<= 3
print(s)

1
4
-2
3
0.3333333333333333
1
0
1
1
3
2
0
8

Comparison Operators

In [36]:
t = 1
u = 2

# ==
print(t == u)

# !=
print(t != u)

# >
print(t > u)

# <
print(t < u)

# >=
print(t >= u)

# <=
print(t <= u)

False
True
False
True
False
True

Logical Operators

In [38]:
t = 1

print(t < 5 and t < 10)
print(t < 5 or t < 10)
print(not(t < 5 and t < 10))

True
True
False

Identity Operators

In [40]:
t = 1
u = 5
print(t is u)
print(t is not u)

False
True

Bitwise Operators

In [54]:
v = 6
# 2 = 0110

print(v & 1)
# v = 0000

print(v | 1)
# v = 0111

print(~v)
# v = 1001

print(v << 1)
# v = 1100

print(v >> 1)
# v = 0011

0
7
-7
12
3